/**/

*{
    margin:0 0;
    padding:0 0;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width: 80%; 
    margin: 0 auto; 
    padding: 1% ;
    
}

.logo{
    width: fit-content;
    float: right; 
    height: fit-content; 
    box-sizing: border-box;
}

.text-centre{
    text-align: center;
}

.text-right{
    text-align: right;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.btn-color{
    background-color:  #ff1a1a;
    color: whitesmoke;
    cursor: pointer;
}

.btn-color:hover{
    background-color:#cc0000 ;

}

h2{
    color:#caff39;
    font-size: 2rem;
    margin: 1% 0;
    font-family: 'Segoe UI';
}

h3{
    color:#192a56;
    font-size: 1.35rem;
}


/*CSS for logo*/

.logo{
    width: 20%;
    }

/*CSS for search*/

.search{
    background-image: url(anna-hecker-cJdwPzls6kg-unsplash.jpg);
    padding: 10% 0;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;

    

}

.search input[type='search']{
     width: 50%;
     padding: 1%;
     font-size: 1rem;
     border: none;
     border-radius: 5px;
}

/*CSS for Menu*/
.explore{
    background-image: url(IMG-20210704-WA0000_2.jpg);
    
}


.food-menu{
    margin: 1%;
    padding: 1%;
    float: left;
    background-color:#fcd0d0;
    display: flex;
    border-radius: 10px;
}

.menu-img{
    width: 30%;
    float: left;
    border-radius: 15px;
    display: flex;
}

.img-width{
    width: 100%;
    border-radius: 10px;
    
}
 
.menu-desc{
    width: 70%;
    float: left;
    margin-left: 8% ;
}


.clearfix{
    clear: both;
    float: none;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

.price{
    font-weight: 700;
}